

.currentday{
    font-weight: bold;
    font-size: 25px;
}

.currenttempdegree{
    font-weight: bold;
    font-size: 18px;
}

.cityname{
    font-size: 32px;
    font-weight: bold;
}